# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used library for Data Science
- Few examples of evaluating arithmetic expressions in Python

Some of the poplular languages that Data Scientists use are:
1. R
2. Python
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. numpy
3. keras

|Data Science Tools|
|------------------|
|Seaborn|
|matplotlib|
|pytorch|

### Below are a few examples of evaluating arithmetic expressions in Python

In [10]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [11]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Vicheara H